.msg {
    padding:25px;
    background-color:#efefef;
    margin:10px;
    border:1px solid #ccc;
}

#ellipsis {
    margin:10px;
}

#messages {
    position:fixed;
    bottom:135px;
    padding:10px;
    width:100%;
    height:532px;
    overflow-x:auto;
}

#chatbox {
    position:fixed;
    width:100%;
    bottom:0;
    border-top:1px solid #ccc;
    padding:10px;
}

.form-group{
    margin-bottom:0;
}